html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

:root {
  --jeopardy-blue: #0e078f;
  --font-color-main: #fff;
}

.card {
  width: 350px;
  height: 200px;
  background-color: var(--jeopardy-blue);
  color: var(--font-color-main);
  padding: 2em;
  margin: 2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: all .6s;
  transform-style: preserve-3d;
}

.card-back {
    display: none;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    backface-visibility: hidden;
}

.card:hover .card-front {
    display: none;
}
.card:hover .card-back {
    display: block;
    transform: rotateY(180deg);
}