@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Coded with L0v3 by D3v4ss3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-color-primary: #1f242d;
  --bg-color-secondary: #323946;
  --txt-white: #ffffff;
  --txt-primary: #3cd0f7;
}

/*==================================
*         GENERAL STYLES
====================================*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color-primary);
  color: var(--txt-white);
}

section {
  min-height: 100vh;
  padding: 4rem 9% 2rem;
}

.heading {
  font-size: 3.6rem;
  margin-bottom: 6rem;
}

.heading span {
  color: var(--txt-primary);
}

/*==================================
*        HEADER STYLES
====================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  background-color: var(--bg-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  background-image: url(../src/assets/header.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.header h1,
.header a {
  position: relative;
  color: var(--txt-white);
  line-height: 0.9;
  text-align: center;
}

.logo {
  font-size: 2.6rem;
  color: var(--txt-white);
  font-weight: 900;
  cursor: pointer;
}

/*==================================
*        NAVBAR STYLES
====================================*/
.navbar li {
  display: inline;
}

.navbar a {
  color: var(--txt-white);
  font-size: 1.6rem;
  margin-left: 3rem;
  transition: all 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--txt-primary);
  font-weight: 400;
}

.navbar ul ul li a:focus,
.navbar ul ul li a:active {
  color: var(--txt-primary);
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active,
.navbar a:focus:hover,
.navbar a:active:hover {
  color: var(--txt-primary);
}

.navbar ul li:focus>.navbar-submenu,
.navbar ul li:active>.navbar-submenu {
  display: inherit;
}

.navbar a:focus+.navbar-submenu,
.navbar a:active+.navbar-submenu {
  display: inherit;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--txt-white);
  cursor: pointer;
  display: none;
}

/*========== NAVBAR SUBMENU ======== */
.navbar-submenu {
  display: none;
  position: absolute;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: var(--bg-color-secondary);
  right: 0.6rem;
  margin-top: 2.6rem;
}

.navbar-submenu li {
  display: list-item;
  position: relative;
  padding: 1rem 2.2rem 1rem 0;
  border-bottom: 1px solid var(--txt-white);
}

.navbar-submenu li:last-child {
  border-bottom: 1px solid transparent;
}

/*==================================
*        HERO STYLES
====================================*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.hero-content h1 {
  font-size: 3.2rem;
  line-height: 0.8;
}

.hero-content h3 {
  font-size: 5.6rem;
  font-weight: 700;
}

.hero-content h4 {
  font-size: 3.2rem;
  line-height: 0.8;
  margin-bottom: 2rem;
  animation: 6s swap infinite;
}

.hero-content h4 span {
  color: var(--txt-primary);
}

/* Swap Effects */
/* .hero-content h4 span::after {
  content: "";
} */

/* @keyframes swap {
  0% {
      content: "Coding!";
  }

  25% {
      content: "Gaming!";
  }

  50% {
      content: "Animating!";
  }

  75% {
      content: "Sleeping!";
  }
  
  100% {
      content: "Coding!";
  }
} */

.hero-content p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.btn {
  display: inline-block;
  padding: 1.2rem 6rem;
  background-color: var(--txt-primary);
  font-size: 1.6rem;
  color: var(--bg-color-primary);
  border-radius: 2rem;
  margin-top: 0.4rem;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--txt-primary);
  color: var(--bg-color-secondary);
  transform: scale(1.02);
}

/*==================================
*      HERO IMAGE STYLES
====================================*/
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 30vw;
  clip-path: polygon(30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%);
  cursor: pointer;
  box-shadow: 0 0 1rem var(--txt-primary);
  position: relative;
}

.profile .intro-video {
  width: 10vw;
  position: absolute;
  text-align: center;
}

.profile .intro-video img {
  width: 20%;
  transition: 0.3s ease-in-out;
}

.profile .intro-video img:hover {
  width: 50%;
}

.profile .intro-video img:focus .intro-video-player {
  display: block;
}

/*====== INTRO VIDEO PLAYER ======*/
.intro-video-player {
  width: 90%;
  height: 80vh;
  position: absolute;
  justify-self: center;
  align-self: center;
  top: 100px;
  left: 5%;
  box-shadow: 0 0 1rem var(--txt-primary);
  transition: 0.3s ease-in-out;
  background-color: #1f242d;
}

.intro-video-player video {
  width: 100%;
  height: 100%;
}

.close-intro {
  position: absolute;
  z-index: 2;
  top: 4px;
  right: 4px;
}

.close-intro button {
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 2px;
  cursor: pointer;
}

/*==================================
*     SOCIAL MEDIA STYLES
====================================*/
.social-media a {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0.2rem solid var(--txt-primary);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--txt-primary);
  margin: 3rem 1.6rem 3rem 0;
  transition: all 0.3s;
}

.social-media a:hover {
  background-color: var(--txt-primary);
  color: var(--bg-color-secondary);
  box-shadow: 0 0 1rem var(--txt-primary);
  transform: rotate(360deg) scale(1.1);
}

/*==================================
*        ABOUT STYLES
====================================*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color-secondary);
}

.about-content {
  margin-bottom: 6rem;
}

.about-content p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
}

.about-content .btn {
  margin-top: 2rem;
}

.certifications-content {
  width: 100%;
  margin-top: 2rem;
}

.certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 6.8rem;
}

.certification {
  flex: 1 1 33rem;
  background: var(--bg-color-primary);
  padding: 4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.3s;
}

.certification:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--txt-primary);
}

.certification h3 {
  margin: 1.8rem 0 0.6rem 0;
  font-size: 2rem;
}

.certification p,
.certification a {
  font-size: 1.2rem;
}

.certification a {
  display: inline-block;
  margin: 1.2rem 0;
  color: var(--txt-white);
  text-decoration: underline;
  color: var(--txt-primary);
}

.certification a:hover {
  color: var(--txt-white);
}

/*==================================
*        SKILLS STYLES
====================================*/
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.skills-content .skill {
  flex: 1 1 30rem;
  background: var(--bg-color-secondary);
  padding: 4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.3s;
}

.skill i {
  font-size: 6rem;
  color: var(--txt-primary);
}

.skill h3 {
  margin: 2rem 0;
  font-size: 2rem;
}

.skill p {
  margin: 2rem 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.skill:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 0 10px var(--txt-primary);
}

/*==================================
*       EXPERIENCE STYLES
====================================*/
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../src/assets/bg-exp.png);
}

.sub-heading {
  width: 60%;
  margin-top: -5rem;
  text-align: center;
  font-size: 1.4rem;
}

.experience-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  margin-top: 4rem;
}

.experience-tab h5 {
  padding: 1.2rem;
  background: var(--txt-primary);
  color: var(--bg-color-primary);
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  position: relative;
}

.experience-tab-left h5::after {
  content: "";
  top: 0;
  left: 100%;
  position: absolute;
  border-bottom: 21px solid transparent;
  border-left: 21px solid var(--txt-primary);
  border-top: 21px solid transparent;
}

.active h5 {
  background: red;
  color: var(--txt-white);
}

.active h5::after {
  border-bottom: 21px solid transparent;
  border-left: 21px solid red;
  border-top: 21px solid transparent;
}

.experience-tab-right h5::before {
  content: "";
  top: 0;
  right: 100%;
  position: absolute;
  border-bottom: 21px solid transparent;
  border-right: 21px solid var(--txt-primary);
  border-top: 21px solid transparent;
}

.experience-tab-left ul {
  margin-right: 20px;
  font-size: 1.4rem;
  list-style: none;
}

.experience-tab-left ul li {
  font-weight: bold;
}

.experience-tab-left ul li span {
  display: block;
  margin-top: 12px;
}

.experience-tab-left ul li p {
  font-weight: normal;
  font-style: italic;
  margin-top: -12px;
}

.experience-tab-right ul {
  margin-right: 20px;
  font-size: 1.4rem;
  list-style: none;
}

.experience-tab-right ul li {
  font-weight: bold;
}

.experience-tab-right ul li span {
  display: block;
  margin-top: 12px;
}

.experience-tab-right ul li p {
  font-weight: normal;
  font-style: italic;
  margin-top: -12px;
}

.experience-tab h6 {
  font-size: 1.6rem;
}

.experience-tab p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.experience-tab {
  margin-bottom: 4rem;
}

.experience-left {
  text-align: right;
}

.experience-right {
  text-align: left;
  margin-top: 6rem;
}

.sitation {
  font-style: italic;
  font-size: 0.8rem;
  color: #3cd0f7;
}

/*==================================
*       PORTFOLIO STYLES
====================================*/
.portfolio {
  background: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-page {
  background: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 9%;
}

.project {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color-primary);
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.project:hover .project-layer {
  transform: translateY(0);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4rem;
}

.project-image img {
  width: 100%;
  transition: all 0.3s;
}

.project-image:hover img {
  transform: scale(1.2);
}

.project-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--txt-primary));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: all 0.3s;
}

.project-layer h4 {
  font-size: 2.8rem;
}

.project-layer p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

.project-layer a {
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  background: var(--bg-color-secondary);
  border-radius: 50%;
}

.project-layer a:hover {
  background: var(--bg-color-primary);
}

.project-layer a i {
  font-size: 2rem;
  color: var(--txt-primary);
}

.project-intro {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  transition: all 0.3s;
  padding: 0 4rem;
}

.project-intro h4 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.project-intro p {
  font-size: 1.4rem;
}

.project-intro p span {
  display: block;
  font-size: 1rem;
}

.project:hover .project-intro {
  transform: translateY(-100%);
}

.projects-rights,
.projects-filter {
  grid-column: 1/-1;
}

.projects-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.projects-filter button {
  min-width: 100px;
  padding: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.projects-filter button:hover,
.projects-filter button:focus,
.projects-filter button:active {
  background-color: var(--bg-color-secondary);
  box-shadow: 0 0 8px var(--txt-primary);
  color: var(--txt-primary);
}

/*==================================
*       FOOTER STYLES
====================================*/
.footer {
  padding: 4rem 9% 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.footer article {
  padding: 4rem 0;
}

.footer article h5 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.footer article p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.footer article a {
  color: var(--txt-white);
  text-decoration: underline;
}

.footer .shorbio a {
  color: var(--txt-primary);
}

.footer .shorbio a:hover {
  color: var(--txt-white);
}

.copyrights {
  background: var(--bg-color-secondary);
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
}

.copyrights a {
  color: var(--txt-white);
}

.copyrights a:hover {
  text-decoration: underline;
}


/*==================================
*       RESPONSIVENESS
====================================*/

@media only screen and (max-width: 1330px) {
  .hero img {
    width: 35vw;
  }

  /* PORTFOLIO STYLES */
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content h3 {
    font-size: 3.6rem;
    margin: 1.6rem 0;
  }

  .hero-content h4 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 971px) {
  .header {
    padding: 2rem 3%;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    padding: 1rem 3%;
    background: var(--bg-color-secondary);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .navbar.active {
    display: block;
  }

  section {
    padding: 4rem 3%;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 3% 2rem;
  }

  .footer article {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 816px) {
  .hero {
    flex-wrap: wrap;
  }

  .hero-content {
    text-align: center;
    padding-top: 6rem;
  }

  .hero img {
    width: 60vw;
  }
}

@media only screen and (max-width: 667px) {
  .portfolio-page {
    padding-top: 18%;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 525px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .projects-filter button {
    min-width: 70px;
    padding: 1rem;


  }
}

@media only screen and (max-width: 498px) {
  .portfolio-page h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  .experience-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .experience-tab-left h5 {
    margin-right: 0;
  }

  .experience-tab-right h5 {
    margin-left: 0;
  }

  .experience-tab-right h5::before,
  .experience-tab-left h5::after {
    display: none;
  }

  .experience-right {
    margin-top: 0;
  }
}

@media only screen and (max-width: 390px) {
  .hero h4 {
    line-height: 1.2;
  }

  .portfolio-page {
    padding-top: 38%;
  }
}